body{
    margin: 0%;
    height: 100vh;
    background-image: url(imagens/academiafundo3.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

h2{
    color: rgb(245, 241, 241);
    text-shadow:-1px -1px 0 #1411ea,  
                 1px -1px 0 #2a06f6, 
                -1px 1px 0 #2a06f6, 
                 1px 1px 0 #2a06f6;

}

p{
    color:beige;
    text-shadow:-1px -1px 0 #1411ea,  
                 1px -1px 0 #2a06f6, 
                -1px 1px 0 #2a06f6, 
                 1px 1px 0 #2a06f6;
                 margin: 5%;
}

h1{
    color: white;
    padding-left: 90px;
}

.card1{
    /*card smart fit*/

     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
     background-image: url(imagens/academiacard.jpg);
    background-size: cover;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    
}

.card2{
    /* Delta Force */
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/deltaforce.jpg);
     background-size: cover;

}

.card3{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/panobianco.jpeg);
     background-size: cover;
   
}

.card4{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/gavioes.jpeg);
     background-size: cover;

}

.card5{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/bluefit.jpeg);
     background-size: cover;
 
}

.card6{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/ironberg.jpeg);
     background-size: cover;
    
}

.card7{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/bodytech.jpeg);
     background-size: cover;

    
}

.card8{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/aquarius.jpeg);
     background-size: cover;
     
    }

.card1:hover{
    transform: scale(1.10);
}

.card2:hover{
    transform: scale(1.10);
}

.card3:hover{
    transform: scale(1.10);
}

.card4:hover{
    transform: scale(1.10);
}

.card5:hover{
    transform: scale(1.10);
}

.card6:hover{
    transform: scale(1.10);
}

.card7:hover{
    transform: scale(1.10);
}

.card8:hover{
    transform: scale(1.10);
}

footer{
    justify-content: left;
    display: flex;
    align-items:first baseline;
    flex-direction: column;
    padding: 0%;

}


.container-categorias{
    display: grid;
    gap: 25px;
    padding: 2px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 4%;
}

.detail {
    background-color: white;
}

.container-pesquisa{
    
    position: absolute;
    top:32px;
    right:95px;
    text-align: left; 

}

.botao{
    color: rgb(17, 6, 237);
    background-color: white;
    text-shadow: black;
    border: blue solid 2px 2px 2px 2px;
    padding: 4px 17px;
    border: #1411ea;
    border-color: blue;
    border-radius: 6px 6px 6px 6px;
    font-size: medium;
   
}

.input{
    background-color: rgb(232, 232, 237);
    border-color: blue;
    border-radius: 6px 6px 6px 6px;
    padding: 5px 190px;
    color: blue;
    text-align: left;  
    padding-left: 10px;
    padding-right: 380px; 
     margin-right: 4px;
}

.input::placeholder{
    text-align: left;
}