body{
    margin: 0%;
    height: 100vh;
    background-image: url(imagens/academiafundo3.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

h2{
    color: white;
}

p{
    color:beige;


}

h1{
    color: white;
}

.card1{
    /*card smart fit*/

     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
     background-image: url(imagens/academiacard.jpg);
    background-size: cover;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    
}

.card2{
    /* Delta Force */
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/deltaforce.jpg);

}

.card3{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/academiacard.jpg);
   
}

.card4{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/academiacard.jpg);

}

.card5{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/academiacard.jpg);
 
}

.card6{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/academiacard.jpg);
    
}

.card7{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/academiacard.jpg);
    /*imagem aqui*/

    
}

.card8{
     backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6px);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blue;
    padding-right: 0px;
    transition: 0.3s;  
    margin-left: 12%;
    background-image: url(imagens/academiacard.jpg);
     
    }

.card1:hover{
    transform: scale(1.10);
}

.card2:hover{
    transform: scale(1.10);
}

.card3:hover{
    transform: scale(1.10);
}

.card4:hover{
    transform: scale(1.10);
}

.card5:hover{
    transform: scale(1.10);
}

.card6:hover{
    transform: scale(1.10);
}

.card7:hover{
    transform: scale(1.10);
}

.card8:hover{
    transform: scale(1.10);
}
.barrinhas{
    width:30px;
    cursor: pointer;
    text-align: right;
    margin-left: auto;
    padding-right: 36px;
    padding-bottom: 10px;
}

footer{
    align-items:flex-end;
    display: flex;
    align-items:end;
    flex-direction: column;
    
   

}

.barrinhas span{
   display: block;
   height: 4px;
   background: white;
   margin: 2px 0;
   border-radius: 2px;
   border: 3px solid black;
   border-radius: 10px 10px;  
}

.barrinhas:hover span{
    background-color: rgb(45, 94, 221)
}
.container-categorias{
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}